section{
    font-size:25px
}
.quieSomos{
    width: 100%;
}

.grid-AboutUs {
    width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}
.grid-AU1{
    text-align: center;
    margin: 0 auto;
    grid-column-start: 1;
}
.quieSomos{
    background-image: url(../images/backgroundAU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 1;
    height:620px;
}
@media only screen and (max-width:768px) {
    .grid-AboutUs {
        width:100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .textoQS{
        font-size:25px;
        z-index: -1;
        position:relative;
    }
    .grid-footer1{
        grid-column-start: 1 !important;
    }
    .quieSomos{
        background-image: url();
        background-size: cover;
        grid-row-start: 1;
        height:620px;

    }
    footer{
        width: 100% !important;
        padding: 10px 0px !important;
        background-image: url(../images/background-footer.svg) !important;
        background-size: cover !important;
        margin: 0 auto !important;
        background-color: #21FA93;
        -webkit-mask-image: url("../images/background-footer.svg") !important;
        mask-image: url("../images/background-footer.svg");
        -webkit-mask-size: cover;
        mask-size: cover;
    }
}